.header {color: #FF0000;
.style8 {font-family: Calibri; font-size: 13px; }
.style8 {font-family: Calibri; font-size: 13px; }
.style11 {
	font-family: Calibri;
	font-size: 13px;
	font-weight: bold;
	color: #CC0000;
}
.style14 {font-family: Calibri; font-size: 13px; color: #993300; }